{% load staticfiles %}<!DOCTYPE html>
<html lang="en" {% block html_attributes %}{% endblock %}>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'view/style/bootstrap.css' %}">
    <script src="{% static 'view/lib/jquery.js' %}"></script>
    <script src="{% static 'view/lib/angular.js' %}"></script>
    <script src="{% static 'view/lib/angular_resource.js' %}"></script>
    <script src="{% static 'view/js/services.js' %}"></script>
    <script src="{% static 'view/js/controllers.js' %}"></script>
    <script src="{% static 'view/js/app.js' %}"></script>
</head>
<body {% block body_attributes %}{% endblock %}>
    {% block sidebar %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>
