{% extends "view/base.html" %}
{% block title %}Index{% endblock %}
{% block html_attributes %}{% endblock %}
{% block body_attributes %}{% endblock %}
{% block sidebar %}
    <ul class="nav nav-tabs">
        <li><a href="/">Index</a></li>
        {% if not user.is_authenticated %}
            <li><a href="/login/">Prijava</a></li>
            <li><a href="/register/">Registracija</a></li>
        {% else %}
            <li><a href="/account/">Račun</a></li>
            <li><a href="/logout/">Odjava</a></li>
        {% endif %}
        <li><a href="/viz/">Luštna vizualizacija</a></li>
    </ul>
{% endblock %}
{% block content %}
    <h1>NEWSTRACKER</h1>
    <ul class="newslist">
        {% for i in feed %}
            <li>
                <div class="front-news">
                    <a href="{{ i.link }}">{{ i.title }}</a>
                    <p>{{ i.published_parsed }}</p>
                    <p>{{ i.summary  }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}