{% extends "view/base.html" %}
{% block title %}Index{% endblock %}
{% block html_attributes %}ng-app="newstracker"{% endblock %}
{% block body_attributes %}ng-controller="RssIn"{% endblock %}
{% block sidebar %}
<ul>
    {% if not user.is_authenticated %}
    <li><a href="/login/">Prijava</a></li>
    <li><a href="/register/">Registracija</a></li>
    {% else %}
    <li><a href="/account/">Račun</a></li>
    <li><a href="/logout/">Odjava</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
    <h1>NEWSTRACKER</h1>
    <ul>
        <li ng-repeat="rss in rssin.objects">
            {% templatetag openvariable %}rss.url{% templatetag closevariable %}
        </li>
    </ul>
{% endblock %}