{% extends "view/base.html" %}
{% block title %}Newstracker{% endblock %}
{% block html_attributes %}{% endblock %}
{% block body_attributes %}{% endblock %}
{% block sidebar %}
    <ul class="nav nav-tabs">
        <li><a href="/">Index</a></li>
        {% if not user.is_authenticated %}
            <li><a href="/login/">Prijava</a></li>
            <li><a href="/register/">Registracija</a></li>
            <li><a href="/tracked/">Tracked</a></li>
        {% else %}
            <li><a href="/tracker/">Tracker</a></li>
            <li><a href="/account/">Račun</a></li>
            <li><a href="/logout/">Odjava</a></li>
        {% endif %}
        <li><a href="/viz/">Vizualizacija uporabnikov</a></li>
    </ul>
{% endblock %}
{% block content %}
    <h1>TRACKER</h1>
    <form class="well" method="post">
        <div>Nov track:</div><div><span><input type="text" class="span3" name="track"></span><span><input type="submit" class="btn btn-primary" value="Dodaj"></span></div>
    </form>
    <h4>Trenutni tracki:</h4>
    <ul class="horizontal">
        {% for t in subs.subs.all %}
            <li>
                <a href="/tracker/{{ t }}">{{ t }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}