{% extends "view/base.html" %}
{% block title %}Newstracker{% endblock %}
{% block html_attributes %}ng-app="newstracker"{% endblock %}
{% block body_attributes %}ng-controller="RssIn"{% endblock %}
{% block sidebar %}
    <ul class="nav nav-tabs">
        <li><a href="/">Index</a></li>
        {% if not user.is_authenticated %}
            <li><a href="/login/">Prijava</a></li>
            <li><a href="/register/">Registracija</a></li>
            <li><a href="/tracked/">Tracked</a></li>
        {% else %}
            <li><a href="/tracker/">Tracker</a></li>
            <li><a href="/account/">Račun</a></li>
            <li><a href="/logout/">Odjava</a></li>
        {% endif %}
        <li><a href="/viz/">Vizualizacija uporabnikov</a></li>
    </ul>
{% endblock %}
{% block content %}
    <h1>Tracked</h1>
    <h4>Vse trackane novice</h4>
    <ul class="newslist">
    <li ng-repeat="rss in rssin.objects">
        <div class="front-news">
            <a href="{% templatetag openvariable %}rss.link{% templatetag closevariable %}">{% templatetag openvariable %}rss.title{% templatetag closevariable %}</a>
            <p>{% templatetag openvariable %}rss.published{% templatetag closevariable %}</p>
            <p>{% templatetag openvariable %}rss.summary{% templatetag closevariable %}</p>
        </div>
    </li>
    </ul>

{% endblock %}