{% extends "view/base.html" %}
{% block title %}Vizualizacija{% endblock %}
{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'view/js/raphael-min.js' %}"></script>
    <script src="{% static 'view/js/popup.js' %}"></script>
    <script src="{% static 'view/js/analytics.js' %}"></script>
{% endblock %}
{% block html_attributes %}ng-app="newstracker"{% endblock %}
{% block body_attributes %}ng-controller="RssIn"{% endblock %}
{% block sidebar %}
    <ul class="nav nav-tabs">
        <li><a href="/">Index</a></li>
        {% if not user.is_authenticated %}
            <li><a href="/login/">Prijava</a></li>
            <li><a href="/register/">Registracija</a></li>
            <li><a href="/tracked/">Tracked</a></li>
        {% else %}
            <li><a href="/tracker/">Tracker</a></li>
            <li><a href="/account/">Račun</a></li>
            <li><a href="/logout/">Odjava</a></li>
        {% endif %}
        <li><a href="/viz/">Vizualizacija uporabnikov</a></li>
    </ul>
{% endblock %}
{% block content %}
    <h1>VIZUALIZACIJA UPORABNIKOV</h1>
    <h4>Število novih uporabnikov glede na mesec.</h4>
    <ul>
        <table id="data">
            <tfoot>
            <tr>
                {% for user in users %}
                    <th>
                    {{ forloop.count }}
                    </th>
                {% endfor %}
            </tr>
            </tfoot>
            <tbody>
            <tr>
                {% for user in users %}
                    <td>
                        {{ user }}
                    </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
        <div id="holder"></div>
    </ul>
{% endblock %}